<div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="h6-info">
    <ul class="navbar-nav ml-auto  align-items-center">


        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/">
                <!-- Inicio -->
                Home Page
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/about">
                About Us
                <!-- Sobre Nosotros -->
            </a>
        </li>
        <li class="nav-item ml-2"  [routerLinkActive]="['active']">
            <a class="btn btn-info-gradiant font-14"  routerLink="/contact">
                <!-- Contacto -->
                Contact
            </a>
        </li>
    </ul>
    <!-- target="_blank"  -->
</div>