<div
  class="static-slider-head"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
        <h1 class="title">AGUARA GUAZU</h1>
        <h3 class="title">Web Designers</h3>
        <h5 class="subtitle op-5">
          We transform your digital presence with web pages that highlight your business. Specialists in elegant, modern and effective presentation sites so that your clients find you and get to know the best of you.
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- QUIENES SOMOS -->
<section class="who-we-are mt-5">
  <div class="overlay" style="background-image: url('assets/images/landingpage/about9.jpg'); background-size: cover; background-position: center;">
    <div class="container">
      <h2 style="color: white; font-size: 200%;">ABOUT US?</h2>
      <p style="color: white;">Discover the passionate team behind our exceptional digital solutions</p>
      <a routerLink="/about" class="btn btn-light">More Information</a>
    </div>
  </div>
</section>
<!-- SERVICIOS -->
<h1 class="demostrar">Services</h1>
<section class=" flex justify-content-center mt-5 ">
    <div class="flip">
        <div class="front" style="background-image: url(assets/images/landingpage/about33.jpg)">
          <h1 class="blanco2">Custom Web Design</h1>
        </div>
        <div class="back">
          <!-- <h2>Angular</h2> -->
          <p style="color: white; font-size: 150%; " >"We transform your ideas into web pages that reflect the essence of your brand."</p>
        </div>
    </div>
    <div class="flip">
        <div class="front" style="background-image:  url(assets/images/landingpage/about1.jpg)">
          <h1 class="blanco">Mobile Optimization</h1>
        </div>
        <div class="back">
          <!-- <h2>Angular</h2> -->
          <p style="color: white; font-size: 150%; " >"Every site we create is 100% responsive, ensuring a seamless experience on any device."</p>
        </div>
    </div>
    <div class="flip">
        <div class="front" style="background-image: url(assets/images/landingpage/about2.jpg)">
          <h1 class="blanco2">Maintenance and Support</h1>
        </div>
        <div class="back">
          <!-- <h2>Angular</h2> -->
          <p style="color: white; font-size: 150%; ">"We accompany you after launch with updates and continuous technical support."</p>
        </div>
    </div>
</section>
<!-- PROCESO DE TRABAJO -->
<h1 class="demostrar">This is how we work</h1>
<!-- <section class=" grid justify-content-center grid-template-columns-1 mt-5">
  <div class="container2 line1">
    <div><h2 class="text-white">Exploration and Analysis</h2></div>
    <div class="ml-5 text-white">We meet with you to understand your needs and define objectives.</div>
  </div>
  <div class="container2 line2">
    <div  class="text-white">We present you with an initial design to receive your feedback and ensure we are aligned.</div>
    <div class="ml-5 text-white"><h2 class="text-white">Prototype and Design</h2></div>
  </div>
  <div class="container2 line3">
    <div><h2 class="text-white">Development and Review</h2></div>
    <div class="ml-5 text-white" >We code and fine-tune your site until you're 100% satisfied..</div>
  </div>
  <div class="container2 line4">
    <div class="text-white">We bring your site online and offer ongoing support to keep it up to date.</div>
    <div class="ml-5 text-white"><h2 class="text-white">Release and Support</h2></div>
  </div>
</section> -->
<section class="grid justify-content-center grid-template-columns-1 mt-5">
  <div class="container2 line1 justify-content-center">
    <div class="content-wrapper">
      <h2 class="text-white">Exploration and Analysis</h2>
      <p class="text-white">We meet with you to understand your needs and define objectives.</p>
    </div>
  </div>
  <div class="container2 line2 justify-content-center">
    <div class="content-wrapper">
      <h2 class="text-white">Prototype and Design</h2>
      <p class="text-white">We present you with an initial design to receive your feedback and ensure we are aligned.</p>
      
    </div>
  </div>
  <div class="container2 line3 justify-content-center">
    <div class="content-wrapper">
      <h2 class="text-white">Development and Review</h2>
      <p class="text-white">We code and fine-tune your site until you're 100% satisfied.</p>
    </div>
  </div>
  <div class="container2 line4 justify-content-center">
    <div class="content-wrapper">
      <h2 class="text-white">Launch and Support</h2>
      <p class="text-white">We bring your site online and offer ongoing support to keep it up to date.</p>
    </div>
  </div>
</section>
<div class="spacer">
  <div class="container">
    <div class="row justify-content-center m-b-30">
      <div class="col-md-7 text-center no-trans"  [routerLinkActive]="['active']" >
        <h2 class="title">
          Are you happy with what we offer?
        </h2>

        <a
          class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
          data-toggle="collapse"
            routerLink="/contact"
          ><span>Contact Us <i class="ti-arrow-right"></i></span
        ></a>
      </div>
    </div>
  </div>
</div>
