<div class="row wrap-feature-22" style="background-color: #EEEEEE ;">
  <!-- Column -->
  <div class="col-lg-6" data-aos="flip-up" data-aos-duration="1200">
    <img [src]="imagePath" class="rounded img-responsive" style="width: 65%; margin-left: 20%; padding: 2%;" alt="wrapkit" />
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="text-box" style="margin-top: 15%; margin-right: 20%;">
      <!-- <small class="text-info font-medium">Make your site in No-Time</small> -->
      <h3 class="font-light" style="position:relative ;" >        
        Who Are We?
      </h3>
      <p style="margin-top: 6%;">
        We are a team of people passionate about technology and design.
        We specialize in creating websites that not only look good, but also meet your business goals. 
        We focus on fast, effective and accessible solutions for entrepreneurs and companies seeking to stand out in the digital world.
      </p>
    </div>
  </div>
  <!-- Column -->
</div>
